<template name="_subTabs">
    {{#ionTabs style="android" class="tabs-background-positive tabs-color-light sub-tabs--tabs top--tabs"}}
      {{!-- {{> ionTab class="subtab-about" title="ABOUT" path="about"}}
      {{> ionTab class="subtab-reviews" title="REVIEWS" path="reviews"}}
      {{> ionTab class="subtab-pricing" title="PRICING" path="pricing"}}
 --}}
      <a href="/vendor/{{_id}}" class="tab-item subtab-about">ABOUT</a>  
      <a href="/vendor/{{_id}}/reviews" class="tab-item subtab-reviews">REVIEWS</a>  
      <a class="tab-item subtab-pricing">PRICING</a>  

    {{/ionTabs}}
</template>
