$calm: #9e7ac2;
$main-dark: #2d3941 !default;

.ui.purple.message{
	background-color: #8e44ad;
	color: #fff;
	.header{
		color: #fff;
		text-transform: uppercase;
	}
	.icon:not(.close){
		opacity: 1;
	}
}
.custom-icon {
  width: 157px;
  height: 115px;
  fill: #fff;
}

.selected-svg {
  fill: #9e7ac2;
}
.ui.positive.button{
	background-color: $calm !important;
}
.ui.positive.buttons .button:hover, .ui.positive.button:hover, .ui.positive.buttons .active.button, .ui.positive.active.button{
	background-color: #8e44ad !important;
}
.ui.buttons .or:before{
	background-color: $main-dark;
	color: #fff;
}
.ui.button{
	background-color: #fff !important;
}
/*=== Tabs Default Style ===*/
	.top--tabs.tabs-top.tabs-striped .tab-item.active{
		border-width: 0px 0px 4px 0px !important;
	}
	.tabs-striped.tabs-color-light .tab-item.tab-item-active, .tabs-striped.tabs-color-light .tab-item.active, .tabs-striped.tabs-color-light .tab-item.activated{
		 border: 0 solid rgba(255,255,255,0.5) !important;
	}
	.tabs-striped.top--tabs.tabs-top > .tabs, .tabs.tabs-top{
		border-bottom: none !important;
		background-color: $calm;
	}
	.top--tabs .tab-item{
		font-weight: 800;
	}

/*=== Subtabs ===*/
.sub-tabs--tabs{
	.tabs{
		position: static;
	}
}

p {
  .text-large {
    font-size: 1.5em;
    line-height: 1.1;  
  }
	.text-medium {
    font-size: 1.1em;
    line-height: 0.9;   
  }
}



.no-padding-top{
	padding-top: 0 !important;
}
.no-margin-top{
	margin-top:0 !important;
}
.card-avatar{
	float: left;
	margin-right: 1em !important;
	height: 60px;
	width: 60px;
}
a.content{
	display: block;
}
.margin-top{
	margin-top: 1em !important;
}
.ui.divider:not(.vertical):not(.horizontal){
	border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.ui.cards{
	padding: 10px;
	background: #f5f5f5;
}
.pricing{
	position: absolute;
	top: 19%;
  right: 2%;
}
.pricing>span{
	font-size: 1.5em;
}
.items-container{
	padding: 10px;
	.description p{
		line-height: 1;
	}
}

.cleaners-list {
  background-color: #2D3941 !important;
  .card {
    background-color: #9E7AC2 !important;
	 .header, .meta {
     color: white !important;
	 	 width: 85%;
	  } 
  }
}
/*== Slider ==*/
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 34px;
  left: -17px;
  top: -10px;
}
.noUi-handle{
	border-radius: 50%;
}
.noUi-handle::before, .noUi-handle::after{
	top: 9px;
}
