<template name="tabsThree">
	{{> _tabsHeader}}

	{{#ionContent class=""}}
	<div class="ui centered grid">
		<div class="row">
			<div class="fourteen wide column">
				<h3 class="margin-top">Link Your Credit Card</h3>
				<div class='item item-divider'>Card Info: </div>
				<label class='item item-input card-num-input'>
					<i  class=" input-label fa fa-credit-card" style="width: initial;"></i>
					<input type='tel' placeholder='Credit Card Number'>
				</label>
				<label class='item item-input card-cvc-input'>
					<input type='tel'  placeholder='CVC'>
					<i class="icon" style='width: 40px; text-align: center;'></i>
				</label>
				<label class='item item-input card-exp-input'>
					<input type='tel' placeholder='MM/YYYY'>
					<i  class="icon" style='width: 40px; text-align: center;'></i>
				</label>
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="row no-padding-top">
			<div class="fourteen wide column">

				<label class="item item-input">
					<span class="input-label">Address</span>
					<input type="text">
				</label>
				<label class="item item-input">
					<span class="input-label">City</span>
					<input type="text">
				</label>
				<label class="item item-input">
					<span class="input-label">Postal Code</span>
					<input type="text">
				</label>

			</div>
		</div>
		<div class="ui divider"></div>
	</div>
	<div class="ui centered grid">
		<div class="fourteen wide column">
			<label class="item item-input">
				<span class="input-label">First Name</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Last Name</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Mobile</span>
				<input type="text">
			</label>
			<label class="item item-input">
				<span class="input-label">Email</span>
				<input type="email">
			</label>
			<label class="item item-input">
				<span class="input-label">Password</span>
				<input type="password">
			</label>
		</div>
	</div>
	{{/ionContent}}

	{{> _tabs}}
</template>


