<template name="tabsOne">
  {{#ionView}}
    {{> _tabsHeader}}

    {{#ionContent class="ui grid"}}
      <div class="row">
        <div class="column">
          <div class="ui icon white message">
            <i class="home icon"></i>
            <div class="content">
              <div class="header">
                Your Kleen
              </div>
              <p>First, we need to learn a bit about your home.</p>
            </div>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="center aligned column">
          <p>How many rooms are in your home?</p>
          
            <p>{{bedroomCounter}} {{bedroomText}}</p>
            <div class="ui buttons">
              <div data-minus-bedroom class="ui button">Minus</div>
              <div class="or"></div>
              <div data-plus-bedroom class="ui positive button">Plus</div>
            </div>
          <br><br>
          <p>What about bathrooms?</p>
          
            <p>{{bathroomCounter}} {{bathroomText}}</p>
            <div class="ui buttons">
              <div data-minus-bathroom class="ui button">Minus</div>
              <div class="or"></div>
              <div data-plus-bathroom class="ui positive button">Plus</div>
            </div>
          
        </div>  
      </div>
      <div class="row">
        <div class="column">
          <div class="ui message">
            <div class="header">Add any extra tasks you'd like.</div>  
            <p>Extra tasks will add time to your clean.</p>
          </div>  
          <div class="ui grid">
            <div class="row">
              <div class="center aligned eight wide column">
                <img src="/oven5.svg" class="svg custom-icon">
                <p>Oven cleaning</p>
              </div>
              <div class="center aligned eight wide column">
                <img src="/fridge.svg" class="svg custom-icon">
                <p>Fridge cleaning</p>
              </div>
            </div>
            <div class="row">
              <div class="center aligned eight wide column">
                <img src="/opened17.svg" class="svg custom-icon">
                <p>Interior Windows</p>
              </div>
              <div class="center aligned eight wide column">
                <img src="/cupboard.svg" class="svg custom-icon">
                <p>Cupboards</p>
              </div>
            </div>
            <div class="row">
              <div class="center aligned eight wide column">
                <img src="/brick1.svg" class="svg custom-icon">
                <p>Interior Walls</p>
              </div>
              <div class="center aligned eight wide column">
                <img src="/laundry.svg" class="black svg custom-icon">
                <p>Laundry</p>
              </div>
            </div>
            <div class="row">
              <div class="center aligned column">
                <div class="ui message">
                  <div class="header">We've estimated a reservation.</div>  
                  <p>We recommend <b>3 hours</b> based on our experience.</p>

                  <p>{{hoursCounter}} {{hoursText}}</p>
                  <div class="ui buttons">
                  <div data-minus-hour class="ui button">Minus</div>
                    <div class="or"></div>
                    <div data-plus-hour class="ui positive button">Plus</div>
                  </div>    

                </div>  
              </div>
            </div>
            <div class="row">
              <div class="column">
              <div class="ui yellow icon message">
                  <i class="clock icon"></i>
                  <div class="content">
                    <div class="header">
                      Note:
                    </div>
                    <p>If your cleaner finishes faster than the time you reserve, you'll only be charged for that time.</p>
                  </div>
                </div>
              </div>  
            </div>    
          </div>
        </div>  
      </div>  

      {{/ionContent}}

    {{> _tabs}}
  {{/ionView}}
</template>
