<template name="tabsOne">
  {{#ionView}}
    {{> _tabsHeader}}

    {{#ionContent class="ui grid"}}
      <div class="row">
        <div class="column">
          <div class="ui icon white message">
            <i class="home icon"></i>
            <div class="content">
              <div class="header">
                Your Kleen
              </div>
              <p>First, we need to learn a bit about your home.</p>
            </div>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="center aligned column">
          <p>How many rooms are in your home?</p>
          
            <p>{{bedroomCounter}} {{bedroomText}}</p>
            <div class="ui buttons">
              <div data-minus-bedroom class="ui button">Minus</div>
              <div class="or"></div>
              <div data-plus-bedroom class="ui positive button">Plus</div>
            </div>
          <br><br>
          <p>What about bathrooms?</p>
          
            <p>{{bathroomCounter}} {{bathroomText}}</p>
            <div class="ui buttons">
              <div data-minus-bathroom class="ui button">Minus</div>
              <div class="or"></div>
              <div data-plus-bathroom class="ui positive button">Plus</div>
            </div>
          
        </div>  
      </div>
      {{!-- <div class="row">
        <div class="column">
          <div class="ui small button">
            <i class="minus icon"></i>  
          </div>
          <div>
            Bedroom
          </div>
          <div class="ui small button">
            <i class="plus icon"></i>  
          </div>
        </div>  
      </div>     --}}
      {{/ionContent}}

    {{> _tabs}}
  {{/ionView}}
</template>
