<template name="tabsTwo">
	{{> _tabsHeader}}

	{{#ionContent}}
	<div class="ui centered grid">
		<div class="row">
			<div class="twelve wide column">
				<h3 class="margin-top">Available Cleaners</h3>
				<p class="text-large">Listed below are cleaning businesses available in your area.</p>
			</div>
		</div>
		<div class="ui divider"></div>
		<div class="row no-padding-top">
			<div class="twelve wide column">

				{{!-- <p><small>You can edit the price range using the slider.</small></p>
				<div id="slider"></div> --}}
        
        <h4 class="margin-top">Alpha Stage</h4>
        <p class="text-medium">Swipper is currently in its <b>alpha</b> stage, and only supports a few proven industry leaders.</p>

			</div>
		</div>
		<div class="ui divider"></div>
	</div>
	<div class="ui two doubling cards cleaners-list">
  {{#each vendor}}
    {{> _vendor}}
  {{/each}}
	</div>
	{{/ionContent}}

	{{> _tabs}}
</template>
