<template name="tabsTwoCleanerDetail">
	{{> _tabsHeader}}

	{{#ionContent}}
	<div class="ui grid" style="margin-top:0;">
		<div class="row">
			<div class="center aligned column">
				<img class="ui centered circular image" src="{{logo}}">
			</div>
    </div>
    <div class="row">
			<div class="center aligned column">
				<h3 class="margin-top">{{name}}</h3>
				<div class="ui star rating" data-rating="2"></div>
				<h6 class="no-margin-top">45 reviews <strong>3.9/4</strong></h6>
			</div>
		</div>
	</div>
	{{> _subTabs}}
	<div>
		{{> yield "subtabs"}}
	</div>
	{{/ionContent}}

	{{> _tabs}}
</template>

<template name="tabsTwoCleanerDetailAbout">
	<div class="ui two doubling cards cleaners-list-variation">
		<div class="card">
			<div class="content">
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
		<div class="card">
			<div class="content">
				<div class="header text-center">BUSINESS FEATURES</div>
				<div class="items-container">
				  <div class="clean-item">
				    <a  class="image">
				      <img style="width:15% !important; display: inline-block; margin: 0 2% 0 0; vertical-align:top;" src="http://cliparts.co/cliparts/6ir/oxe/6iroxeqrT.png">
				    </a>
				    <div class="content" style="display: inline-block; width: 80%;">
				      <a class="header"><strong>Environmentally Friendly Products</strong></a>
				      <div class="description">
				        <p><small>Cute dogs come in a variety of shapes and sizes. Some cute dogs are cute for their adorable faces, others for their tiny stature, and even others for their massive size.</small></p>
				      </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="tabsTwoCleanerDetailPricing">
	<div class="ui two cards">
		<div class="card">
			<a href="#" class="content">
				<div class="header">$29<small>/hr</small></div>
				<div class="meta"><strong>REGULAR</strong></div>
			</a>
		</div>
		<div class="card">
			<a href="#" class="content">
				<div class="header">$29<small>/hr</small></div>
				<div class="meta"><strong>ONE-TIME</strong></div>
			</a>
		</div>
	</div>
	<div class="ui two doubling cards no-margin-top">
		<div class="card">
			<a href="#" class="content">
				<div class="header text-center">Payment Information</div>
				<div class="description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					<ul>
						<li>How are payments processed?</li>
						<li>How are payments processed?</li>
					</ul>
				</div>
			</a>
		</div>
	</div>
</template>

<template name="tabsTwoCleanerDetailBook">
<div class="ui grid">
  <div class="row">
    <div class="column">
      <input type="text" class="datepicker">    
    </div>  
  </div>
</div>
</template>

<template name="tabsTwoCleanerDetailReviews">
	<div class="ui two doubling cards">
		<div class="card">
			<a href="#" class="content">
				<div class="header">Mary</div>
				<div class="ui star rating floated right" data-rating="4"></div>
				<div class="description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</div>
			</a>
			<div class="extra content">
				
			</div>
		</div>
	</div>
</template>