<template name="_newForm"><br>
  <div class="ui grid">
    <div class="ui row">
      <div class="two wide column"></div>  
      <div class="twelve wide column">
        <div class="ui form">
          <div class="ui inverted blue message">
            <div class="ui header">New Decision</div>  
          </div>  
          <div class="field">
            <label>Title</label>
            <input placeholder="What Car Should I Buy?" type="text" name="title">
          </div>
          <div class="two fields">
            <div class="field">
              <label>First Option</label>
              <input placeholder="Ferrari" type="text" name="firstoption">
            </div>
            <div class="field">
              <label>Second Option</label>
              <input placeholder="Civic" type="text" name="secondoption">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>