<template name="home">
  {{#contentFor "headerButtonLeft"}} 
    {{!-- <button  class="ui transparent button"> --}}
      <i data-ion-menu-toggle="left" class="large fa fa-bars"></i>
    {{!-- </button> --}}
  {{/contentFor}}

  {{!-- {{#contentFor "headerTitle"}} 
    <h1 class="title title-center">WADM</h1>
  {{/contentFor}} 

  {{#contentFor "headerButtonRight"}}
    {{#if currentUser}}
      <p class="title title-right pull-right">
        {{currentUser.profile.name}}
        <a href="#"><i data-logout style="color: #FF7B7B" class="fa fa-times"></i></a>
      </p>
    {{/if}}
  {{/contentFor}} --}}

  {{#ionView}}
    {{#ionContent class="home"}}
      <div id="home" class="ui grid">
        {{> landing}}
      </div>
    {{/ionContent}}

    {{#ionFooterBar class="bar-dark"}}
      <h2 class="title">Getting Started</h2>
    {{/ionFooterBar}}
  {{/ionView}}
</template>