.mist {
  background-color: green;
}

.free {
  border-bottom: none !important;
}

.transparent {
  background-color: transparent !important;
}

.large {
  font-size: 3em;
}

.util-padding {
  padding-top: 3rem !important;
}

// $border: #38AF62;
// $background: #65D07C;
// $base: #99FFB1;
// $text: white;

// .bar.bar-stable {
//   border-color: $border !important;
//   background-color: $background !important;
//   background-image: linear-gradient(0deg, $base, $base 50%, transparent 50%) !important;
//   color: $text;
// }