<template name="landing">
  <div class="util-padding row">
    <div class="center aligned column">
      <h1>Swipper</h1>
      <p style="font-size: 0.8em;">Easy Cleaning Booker</p>
    </div>  
  </div>
  <div class="row">
    <div class="three wide column"></div>  
    <div class="center aligned ten wide column">  
      <div class="ui form">
        <div class="field">
          <div class="label">POSTAL CODE</div>  
          <input type="text" name="postalcode" placeholder="I9R 8A7">
        </div>
        <div data-go-tabs class="ui right labeled icon submit button">
          <i class="saved angle right icon"></i>  
          Submit
        </div>    
      </div>
      <div class="ui horizontal divider">or</div>
      <div class="ui labeled icon button">
        Login
        <i class="saved key icon"></i>
      </div>
    </div>
  </div>
</template>