<template name="landing">
  <div class="util-padding row">
    <div class="center aligned column">
      <img src="http://placehold.it/350x150">
    </div>
  </div>  
  <div class="row">
    <div class="center aligned column">
      <h1>Let's find you a kleenr</h1>
    </div>  
  </div>
  <div class="row">
    <div class="three wide column"></div>  
    <div class="center aligned ten wide column">  
      <div class="ui form">
        <div class="field">
          <div class="label">Enter Your Postal code</div>  
          <input type="text" name="postalcode" placeholder="I9R 8A7">
        </div>  
      </div>
      <div class="ui horizontal divider">or</div>
      <div class="ui labeled icon button">
        Login
        <i class="saved key icon"></i>
      </div>
    </div>
  </div>
</template>