<template name="landing">
  <div class="util-padding row">
    <div class="center aligned column">
      <h1>SWIPPER</h1>
      <p style="font-size: 0.8em;">Easy Cleaning Booker</p>
    </div>  
  </div>
  <div class="row">
    <div class="center aligned fifteen wide column">  
      <div class="ui form">
        <div class="field">
          <div class="label">POSTAL CODE</div>  
          <input type="text" name="postalcode" placeholder="I9R 8A7">
        </div>
        <button data-go-tabs class="button button-positive button-full-width button-cleaner">
          Submit
        </button>    
      </div>
      <div class="ui horizontal divider">or</div>
      <button class="button button-positive button-full-width button-login">
        Login
      </button>
    </div>
  </div>
</template>